body{
    margin: 0;
    padding: 0;
}

.nav-container{
    display: flex;
    background-color: rgb(0, 0, 0);
    color: white;
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    
}

.nav-wrapper{
    display: flex;
    justify-content: space-between;
    width: 98%;
}

.navbar-brand{
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.nav-items-container{
    display: flex;
    align-items: center;
    
}

.navbar-items{
    display: flex;
    flex-direction: row;
    align-items: center;
  

    
}

.navbar-item{
    margin-left: 20px;
}

a{
    color: white;
    text-decoration: none;
}

ul{
    list-style: none;
}



.button:hover{
    background-color: rgb(64, 64, 64);
}

.bg-pic{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: brightness(30%);
}

.welcome-container{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
}

.welcome-text{
    color: rgba(255, 255, 255, 0.865);
    font-size: 9em;
    text-shadow: 1px 1px 1px rgba(255, 0, 0, 0.682);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.grid-container{
    display: flex;
    justify-content:center;
  }

.grid-wrapper{
   display: grid;
   grid-template-columns: repeat(3,1fr);
}

.grid-div{
    height: 400px;
    width: 600px;
    margin: 20px;
    border-radius: 20px;
    background-color: rgba(165, 42, 42, 0.818);
}

.pictures{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}


h3{
    color: white;
    text-align: center;
    font-size: 2em;
    text-shadow: 1px 1px 1px black;
}


.pro-text-contain{
    color: white;
}

.profile-pic{
    height: 400px;
    width: 400px;
    border-radius: 50%;
}


.people-card{
    display: flex;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 30px;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.53);
  

}

.pro-text-contain{
    margin-left: 60px;
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    font-size: 15pt;
}



.meet-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}

.meet-team-txt{
    font-size: 4em;
    text-shadow: 1px 1px 1px black;
}

h2{
    text-decoration: underline;
}


footer{
    background-color: rgb(22, 21, 21);
}

.foot-wrapper{
    display: flex;
    justify-content: center;
}

.contact-info{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-bottom: 20px;
    justify-content: center;
    color: white;
}

.empty{
    height: 300px;
    margin: 10px;
  
}


.form-container{
    display: flex;
    margin-top: 50px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.573);
    justify-content: center;
}

.form-wrapper{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 2em;
    justify-content: center;
    align-content: center;
    background-color: rgba(165, 42, 42, 0.806);
    margin-top: 50px;
    width: 600px;
    margin-bottom: 50px;
    text-align: center;
    border-radius: 5px;
    
}

input{
    width: 400px;
    height: 40px;
}

.login-button{
    margin-top: 40px;
    height: 60px;
    width: 80px;
    color: white;
    background-color: rgba(155, 153, 153, 0.742);
    border-radius: 5px;
    font-size: 15pt;
}

.login-button:hover{
    background-color: gray;
}


